@charset "UTF-8";

#home {
    background: #ffc107;
    color: white;
}

.caixa {
    padding: 60px 0px;
    border-bottom: 1px solid #e5e5e5;
}

footer a {
    margin: 5px 15px;
    text-decoration: none;
}

footer div#dados p a {
    margin: 0;
}

footer div#dados p {
    font-size: 0.8em;
}